body{
  background-color:white;
}

.main-top-title{
  color:black;
  font-family: Billabong;
  font-size: 100px;
  text-align:center;
}

.main-top-sab{
  fount-family:Georgia;
  fount-size:40px;
  color:#e4405f;
  text-align:center;
}

.add-button{
  color:white;
  background-color:#e4405f;
  text-align:center;
  font-size:30px;
  width:100px;
  height:67px;
  border-style:none;
  border-radius:5px;
}

.want-box-text{
  width:300px;
 height:88px;
 border:2px solid #e4405f;
 border-radius:10px;
 text-indent:10px;
 float:left;
 margin-right: 10px;
}
